.logo {
  font-size: 28px;
  font-weight: bold;
}

.logo a {
  color: #4caf50;
  text-decoration: none;
  transition: 0.3s;
}

.logo a:hover {
  color: #388e3c;
}

.cart-page {
  padding: 60px 8%;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 25px;
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cart-item img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 10px;
}

.cart a {
    text-decoration:none;
    color:inherit;
    position:relative;
    display:inline-block;
}

.item-info {
  flex: 1;
}

.quantity {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 15px;
}

.quantity button {
  padding: 8px 15px;
  cursor: pointer;
}

.remove {
  margin-top: 15px;
  background: red;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
}

.summary {
  margin-top: 40px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.summary p {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  font-size: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.buttons button {
  padding: 15px 30px;
  cursor: pointer;
}

.checkout {
  background: #4caf50;
  color: white;
  border: none;
}

@media (max-width: 768px) {
  .cart-item {
    flex-direction: column;
    text-align: center;
  }

  .buttons {
    flex-direction: column;
    gap: 20px;
  }
}
